#toggleButton {
    padding: 10px 20px;
    background-color: #337ab7;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-decoration:none;
    padding-top:2vh;
}

.button-download {
    padding: 10px 20px;
    background-color: #337ab7;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-decoration: none;
    padding-top: 2vh;
}

#infoList {
    margin-top: 10px;
}

    #infoList ul {
        list-style: none;
        padding: 0;
    }

    #infoList li {
        margin-bottom: 5px;
    }

.item {
    margin-bottom: 10px;
    border: 1px solid #ccc;
    padding: 10px;
    background-color: #f5f5f5;
}

.mime {
    font-size: 18px;
    font-weight: bold;
    color: #333;
    margin-bottom: 10px;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #f2f2f2;
}

.files
{
    padding-top:3vh
}